<%- include('../../partials/_head', {
    title: 'Customer',
    slug: 'drip-campaigns',
    root: ''
}) %>

<%- include('../../partials/_header', {drip: 'drip'}) %>
<%- include('../../partials/_sidebar', {drip: 'drip'}) %>

<div class="drip container-wrap">
    <div class="drip__header heading-page">
        <h4 class="heading-page__label">
            <a href="#" class="d-flex align-center">
                <%- include ("../../svg/outline/outline-arrow-left.svg") %>
                <span class="ml-3">Drip Campaigns</span>
            </a> 
        </h4> 
    </div>
	<div class="drip__container">
        <%- include('_sidebar', { dripSmartLists: 'dripSmartLists'}) %>
        <div class="wrapper flex-column accessible-tabs-container nav-tabs">
            <!-- Title -->
            <div class="wrapper__title wrapper__title--more heading-page heading-page--normal flex-column__head">
                <h5 class="heading-page__label form-edit">
                    <a href="/pages/drip/smartlists.html " class="mr-3">
                        <%- include ("../../svg/outline/outline-arrow-left.svg") %>
                    </a>                     
                    <div class="form-edit--text">
                        <span class="mr-1">Regular customers</span>
                        <span class="js-edit cursor-pointer"><%- include ("../../svg/outline/outline-pen.svg") %></span>
                    </div>
                    <div class="form-edit--input">
                        <input class="field-input" type="text" value="Black Friday Discount">
                    </div>
                </h5>
                <div class="tabs">
                    <div role="tablist" aria-lable="Tabs Example" class="tab-selectors btn-item">
                        <button class="tab-items active-tab-selector" type="button">
                            Recipients
                        </button>
                        <button class="tab-items" type="button">
                            Unsubscribed
                        </button>
                    </div>
                </div>
                <div class="search-input">
                    <span class="svg-search-absolute"><%- include ("../../svg/outline/outline-search.svg") %></span>
                    <input type="text" placeholder="Search Customers">
                </div>
                <a href="#drip_filter" class="btn-default has-icon btn-modal mr-2">
                    <%- include ("../../svg/outline/outline-filter-active.svg") %>
                    Edit Filters
                </a>
                <div class="btn-main disable">Save</div>
            </div>
            <!-- Filter -->
            <div class="wrapper__filter">
                <span class="wrapper__filter-label">Filters:</span>
                <div class="wrapper__filter-tags">
                    <span class="filter filter--type">Created by</span>
                    <span class="filter filter--result">Ashley Hamilton,</span>
                    <span class="filter filter--result">Courtney Wagner</span>
                    <span class="filter filter--remove"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                </div>
                <% for (i = 0; i < 5; i++) { %>
                <div class="wrapper__filter-tags">
                    <span class="filter filter--type">Last Service</span>
                    <span class="filter filter--range">after</span>
                    <span class="filter filter--result">22 Sep, 2020</span>
                    <span class="filter filter--remove"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                </div>
                <% } %>
                <div class="wrapper__filter-tags">
                    <span class="filter filter--type">Total number of activities</span>
                    <span class="filter filter--range">from</span>
                    <span class="filter filter--result">50</span>
                    <span class="filter filter--range">to</span>
                    <span class="filter filter--result">300</span>
                    <span class="filter filter--remove"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                </div>
            </div>
            <!-- Full list -->
            <div class="wrapper__list l-table flex-column__content scrolls-x tab-contents">                
                <div class="tab-conts tab-content-active">                   
                    <div class="l-table__title">
                        <div class="rows rows--listitems">
                            <div class="col col--name col--select">
                                Name
                                <%- include ("../../svg/outline/icon-selectbox.svg") %>
                            </div>
                            <div class="col col--status">Status</div>
                            <div class="col col--email">Email</div>
                            <div class="col col--zip">Zip</div>
                            <div class="col col--jobs">Active Jobs</div>
                            <div class="col col--company">Company</div>
                            <div class="col col--source">Source</div>
                            <div class="col col--discount">Discount</div>
                            <div class="col col--service">Active Services</div>
                            <div class="col col--more">More option</div>
                            <div class="col col--menu"></div>
                        </div>
                    </div>
                    <div class="l-table__content l-table__content--listint scrolls">
                        <div class="rows rows--listitems rows--unsubscribed">
                            <div class="col col--name">
                                <a href="#">Pauline Welch</a>  
                            </div>
                            <div class="col col--status">
                                <span class="btn-status btn-status--green">Active</spa  n>
                            </div>
                            <div class="col col--email">
                                <span class="email">n.gregory@msn.com</span>
                            </div>
                            <div class="col col--zip">33101</div>
                            <div class="col col--jobs">1</div>
                            <div class="col col--company">Monitor Audio</div>
                            <div class="col col--source">Facebook</div>
                            <div class="col col--discount col--empty"></div>
                            <div class="col col--service">
                                <span class="btn-status btn-status--grey">Regular Montly Service</span>
                            </div>
                            <div class="col col--more">
                                <span class="btn-status btn-status--grey">Cleaning</span>
                            </div>
                            
                            <div class="col col--menu">
                                <div class="dropdown">
                                    <div onclick="dropdownFunc(this)" class="dropbtn btn-default btn-default--noborder just-icon">
                                        <%- include ("../../svg/outline/outline-more-verticale.svg") %>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu--right">
                                        <ul>
                                            <li class="items">Option1</li>
                                            <li class="items">Option1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% for (i = 0; i < 10; i++) { %>
                        <div class="rows rows--listitems">
                            <div class="col col--name">
                                <a href="#">Pauline Welch</a>  
                            </div>
                            <div class="col col--status">
                                <span class="btn-status btn-status--green">Active</spa  n>
                            </div>
                            <div class="col col--email">
                                <span class="email">n.gregory@msn.com</span>
                            </div>
                            <div class="col col--zip">33101</div>
                            <div class="col col--jobs">1</div>
                            <div class="col col--company col--empty"></div>
                            <div class="col col--source">Facebook</div>
                            <div class="col col--discount col--empty"></div>
                            <div class="col col--service">
                                <span class="btn-status btn-status--grey">Regular Montly Service</span>
                            </div>
                            <div class="col col--more">
                                <span class="btn-status btn-status--grey">Cleaning</span>
                            </div>
                            
                            <div class="col col--menu">
                                <div class="dropdown">
                                    <div onclick="dropdownFunc(this)" class="dropbtn btn-default btn-default--noborder just-icon">
                                        <%- include ("../../svg/outline/outline-more-verticale.svg") %>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu--right">
                                        <ul>
                                            <li class="items">Option1</li>
                                            <li class="items">Option1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="tab-conts">
                    <div class="l-table__title">
                        <div class="rows rows--listitems">
                            <div class="col col--name col--select">
                                Name
                                <%- include ("../../svg/outline/icon-selectbox.svg") %>
                            </div>
                            <div class="col col--status">Status</div>
                            <div class="col col--email">Email</div>
                            <div class="col col--zip">Zip</div>
                            <div class="col col--jobs">Active Jobs</div>
                            <div class="col col--company">Company</div>
                            <div class="col col--source">Source</div>
                            <div class="col col--discount">Discount</div>
                            <div class="col col--service">Active Services</div>
                            <div class="col col--more">More option</div>
                            <div class="col col--menu"></div>
                        </div>
                    </div>
                    
                    <div class="l-table__content l-table__content--listint scrolls">
                        <% for (i = 0; i < 3; i++) { %>
                        <div class="rows rows--listitems rows--unsubscribed">
                            <div class="col col--name">
                                <a href="#">Pauline Welch</a>  
                            </div>
                            <div class="col col--status">
                                <span class="btn-status btn-status--green">Active</spa  n>
                            </div>
                            <div class="col col--email">
                                <span class="email">n.gregory@msn.com</span>
                            </div>
                            <div class="col col--zip">33101</div>
                            <div class="col col--jobs">1</div>
                            <div class="col col--company">Monitor Audio</div>
                            <div class="col col--source">Facebook</div>
                            <div class="col col--discount col--empty"></div>
                            <div class="col col--service">
                                <span class="btn-status btn-status--grey">Regular Montly Service</span>
                            </div>
                            <div class="col col--more">
                                <span class="btn-status btn-status--grey">Cleaning</span>
                            </div>
                            
                            <div class="col col--menu">
                                <div class="dropdown">
                                    <div onclick="dropdownFunc(this)" class="dropbtn btn-default btn-default--noborder just-icon">
                                        <%- include ("../../svg/outline/outline-more-verticale.svg") %>
                                    </div>
                                    <div class="dropdown-menu dropdown-menu--right">
                                        <ul>
                                            <li class="items">Option1</li>
                                            <li class="items">Option1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>			

<%- include('_modal-filter') %>
<%- include('../../partials/_footer', {
    slug: 'drip-campaigns',
    root: ''
}) %>