<%- include('../../partials/_head', {
    title: 'Settings Items',
    slug: 'payment-methods-v2',
    root: ''
}) %>

<%- include('../../partials/_header', {settings: 'settings'}) %>
<%- include('../../partials/_sidebar', {settings: 'settings'}) %>

<div class="settings-v2 container-wrap container-setting">
    <%- include('_sidebar', {stSources: 'stSources'}) %>
    <div class="contents-pages container-setting-user maintables-page d-flex">

        <div class="set-user-right w-100 accessible-tabs-container payment-methods-v2 container-column modal-container d-flex setting-items">
            <%- include('_tips') %>
            <div class="header-title flex-auto">
                <h2>Sources</h2>
                <div class="tabs">
                    <div role="tablist" aria-lable="Tabs Example" class="tab-selectors btn-item">
                        <button class="tab-items active-tab-selector" type="button">
                            Active
                        </button>
                        <button class="tab-items" type="button">
                            Archived
                        </button>
                        <button class="tab-items" type="button">
                            Deleted
                        </button>
                    </div>
                </div>
                <div class="modal-setting">
                    <button href="#addSource" class="btn-modal btn btn-main has-plus btn-add-method svg-plus white">
                        <%- include ("../../svg/outline/outline-plus-black.svg") %>
                        Add Source
                    </button>
                    <div id="addSource" class="modal container-modal">
                        <div class="modal__overlay bg-fixed"></div>
                        <div class="modal__container">
                            <div class="header-modal">
                                <span>New Source</span>

                                <div class="btn btn-main">Save</div>
                            </div>
                            <div class="body-modal scrolls">
                                <div class="row">
                                    <span class="txt">Source Name</span>
                                    <input class="field-input" type="text" name="" placeholder="Placeholder">
                                </div>
                            </div>
                            <div class="footer-modal btn-close">
                                <span>Cancel</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-delete-all flex-auto">
                <div class="w-delete-all d-flex align-center">
                    <div class="check-items">
                        <input id="check-user-all" type="checkbox" value="">
                        <div class="item-checkbox">
							<label for="check-user-all"> 
								<span class="txt-ellipsis">0 items:</span>
							</label>
						</div>
                    </div>
                    <div class="w-item item-delete border-custom ml-2">
                        <div class="svg-delete-grey">
                            <%- include ("../../svg/outline/outline-delete.svg") %>
                        </div>
                        <span>Delete</span>
                    </div>
                    <div class="w-item item-archive border-custom">
                        <%- include ("../../svg/outline/outline-clock.svg") %>
                        <span>Archive</span>
                    </div>
                </div>
            </div>
            
            <div class="tab-contents tabs content-table table-source box-auto">
                <div id="ActiveMethod" class="tab-conts w-100 tab-content-active">
                    <div class="table-title">
                        <div class="rows">
                            <div class="col-checkbox"></div>
                            <div class="col-name">Source</div>
                        </div>
                    </div>
                    <div class="table-list scrolls">
                        <% for (i = 0; i < 10; i++){ %>
                        <div class="rows">
                            <div class="col-checkbox">
                                <div class="check-items">
                                    <input id="check-1" type="checkbox" value="">
                                    <div class="item-checkbox">
                                        <label for="check-1"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-name">
                                <div class="txt-ellipsis cursor-pointer">Angieslist</div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <div id="ArchivedMethod" class="tab-conts w-100">
                    <div class="p-5">Archived Source</div>
                </div>
                <div id="DeletedMethod" class="tab-conts w-100">
                    <div class="p-5">Deleted Source</div>
                </div>                
            </div>

            <%- include('../../partials/_pagination') %>
        </div>
    </div>
</div>

<%- include('../../partials/_footer', {
    slug: 'payment-methods-v2',
    root: ''
}) %>