<% 
const listSystemsms = {
    items1: {
        name: 'Service Name',
    }, 
    items2: {
        name: 'Ant Monthly Service',
    }, 
    items3: {
        name: 'Regular Daily Service',
    }, 
    items4: {
        name: 'Short',
    }, 
    items5: {
        name: 'Service 12',
    }, 
    items6: {
        name: 'Daily',
    }, 
    items7: {
        name: 'Zagreb',
    }, 
    items8: {
        name: 'Rio de Janeiro',
    }, 
    items9: {
        name: 'Jaipur',
    }, 
    items10: {
        name: 'Nairobi',
    }, 
    items11: {
        name: 'Puebla',
    }, 
    items12: {
        name: 'The Hague',
    }, 
}
%>
<%- include('../../partials/_head', {
    title: 'Settings System Email SMS',
    slug: 'system-email-template-v2',
    root: ''
}) %>

<%- include('../../partials/_header', {settings: 'settings'}) %>
<%- include('../../partials/_sidebar', {settings: 'settings'}) %>

<div class="settings-v2 container-wrap container-setting">

    <%- include('_sidebar', {stSystem: 'stSystem'}) %>

    <div class="contents-pages container-setting-user d-flex system-email-template-v2">
        <div class="container-content-email-sms">
            <div class="header-title">
                <h2>System Email & SMS </h2>
                <div class="w-button">
                    <div class="cancel"> Cancel </div>
                    <div class="btn btn-main">
                        <span>Save</span>
                    </div>
                </div>
            </div>
            <div class="d-flex container-setting-email-sms scrolls scrolls-x">
                <div class="container-setting-left accessible-tabs-container">
                    <div class="content-header">
                        <h5>ACH Micro-Deposit Reminder</h5>
                        <p> This is the reminder email your customers receive to verify their bank account by entering two micro-deposits. The return address on your emails is <span class="email"> chris.moreschi@gmail.com. </a> </p>
                    </div>
                    <div class="tabs tabs-line">
                        <div role="tablist" aria-lable="Tabs Example" class="tab-selectors btn-item">
                          <button class="tab-items no-effect active-tab-selector no-effect" type="button">
                            Reminder 1
                          </button>
                          <button class="tab-items no-effect no-effect" type="button">
                            Reminder 2
                          </button>
                          <button class="tab-items no-effect no-effect" type="button">
                            Reminder 3
                          </button>
                        </div>
                    </div>
                    <div class="tab-contents tabs tabs-line-content">
                        <div id="Reminder-1" class="tab-conts w-100 tab-content-active">
                            <div class="p-5">
                                <div class="wrap-switch-reminder">
                                    <div class="switch-reminder-header">
                                        <div class="title">
                                            Reminder 1
                                        </div>
                                        <div class="switch large">
                                            <input id="toggle-in-out" class="toggle toggle-round" type="checkbox" checked onclick="checkboxMessage('reminder-pending');">
                                            <label for="toggle-in-out">
                                                <span class="onoff enable-disable"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="switch-reminder-content reminder-pending">
                                        <div class="wrap-pending">
                                            Send this reminder <input class="field-input" type="text" name="" id="" placeholder="30"> days after the pending date.
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                </div>

                                <div class="wrap-switch-reminder">
                                    <div class="switch-reminder-header">
                                        <div class="title svg-email-blue">
                                            <%- include ("../../svg/states-mail-default.svg") %>  Email
                                        </div>
                                        <div class="switch large">
                                            <input id="toggle-email" class="toggle toggle-round" type="checkbox" checked onclick="checkboxMessage('reminder-email-body');">
                                            <label for="toggle-email">
                                                <span class="onoff enable-disable"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="switch-reminder-content reminder-email-body">
                                        <p class="title-message"> Subject Line </p>
                                        <div class="container-message-builder small">
                                           <div class="message-builder-left scrolls">
                                               <p>Hi 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span>.
                                                </p>
                                                <p>
                                                    I have attached your most recent invoice 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> as a PDF. Please let me know if you have any questions. 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> Pay online using our secure checkout.
                                                    Thanks for the business!
                                                </p>
                                           </div>
                                           <div class="message-builder-right">
                                               <div class="btn-plus-message">
                                                   <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                               </div>
                                               <div class="btn-reload-message">
                                                   <%- include ("../../svg/outline/outline-repeat.svg") %>
                                               </div>
                                           </div>
                                       </div>
                                        <p class="title-message"> Email Body </p>
                                        <div class="container-message-builder">
                                           <div class="message-builder-left scrolls">
                                               <p>Hi 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span>.
                                                </p>
                                                <p>
                                                    I have attached your most recent invoice 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> as a PDF. Please let me know if you have any questions. 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> Pay online using our secure checkout.
                                                    Thanks for the business!
                                                </p>
                                                <p>
                                                    I have attached your most recent invoice 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> as a PDF. Please let me know if you have any questions. 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> Pay online using our secure checkout.
                                                    Thanks for the business!
                                                </p>
                                                <p>
                                                    I have attached your most recent invoice 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> as a PDF. Please let me know if you have any questions. 
                                                    <span class="btn btn-tag-message">
                                                        <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                    </span> Pay online using our secure checkout.
                                                    Thanks for the business!
                                                </p>
                                           </div>
                                           <div class="message-builder-right">
                                               <div class="btn-plus-message">
                                                   <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                               </div>
                                               <div class="btn-reload-message">
                                                   <%- include ("../../svg/outline/outline-repeat.svg") %>
                                               </div>
                                           </div>
                                       </div>
                                    </div>
                                    <div class="line"></div>
                                </div>

                                <div class="wrap-switch-reminder">
                                    <div class="switch-reminder-header">
                                        <div class="title svg-sms-yellow">
                                            <%- include ("../../svg/states-sms.svg") %>  SMS
                                        </div>
                                        <div class="switch large">
                                            <input id="toggle-sms" class="toggle toggle-round" type="checkbox" checked onclick="checkboxMessage('reminder-sms');">
                                            <label for="toggle-sms">
                                                <span class="onoff enable-disable"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="switch-reminder-content reminder-sms">
                                        <div class="container-message-builder medium">
                                            <div class="message-builder-left scrolls">
                                                <p>Hi 
                                                     <span class="btn btn-tag-message">
                                                         <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                     </span>.
                                                 </p>
                                                 <p>
                                                     I have attached your most recent invoice 
                                                     <span class="btn btn-tag-message">
                                                         <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                     </span> as a PDF. Please let me know if you have any questions. 
                                                     <span class="btn btn-tag-message">
                                                         <span class="svg-drag-blue"><%- include ("../../svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("../../svg/outline/outline-remove.svg") %></span>
                                                     </span> Pay online using our secure checkout.
                                                     Thanks for the business!
                                                 </p>
                                            </div>
                                            <div class="message-builder-right">
                                                <div class="btn-plus-message">
                                                    <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                                </div>
                                                <div class="btn-reload-message">
                                                    <%- include ("../../svg/outline/outline-repeat.svg") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                
                                <div class="wrap-add-service">
                                    <div class="title">
                                        Apply to these services
                                    </div>
                                    <div class="container-dropdown-add-service">
                                        <div class="btn-default has-icon btn-add-service">
                                            <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                            Add Service
                                        </div>
                                        <div class="wrap-dropdown-add-service">
                                            <div class="title-input">
                                                <span class="svg-search-absolute"><%- include ("../../svg/outline/outline-search.svg") %></span>
                                                <input id="search-service" type="text" name="" placeholder="Search">
                                            </div>
                                            <div class="search-all">
                                                <span>Select All</span>
                                            </div>
                                            <div class="wrap-list-service scrolls">
                                                <ul>
                                                    <% for (let g = 0; g < 3;  g++ ) { %>
                                                        <li>
                                                            <div class="btn-default has-icon">
                                                                <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                                                Add
                                                            </div>
                                                            <span>Service Name</span>
                                                        </li>
                                                        <li>
                                                            <div class="btn-default has-icon">
                                                                <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                                                Add
                                                            </div>
                                                            <span>Service Name</span>
                                                        </li>
                                                        <li>
                                                            <div class="btn-default has-icon remove">
                                                                <div class="svg-close-orange">
                                                                    <%- include ("../../svg/outline/outline-close.svg") %>
                                                                </div>
                                                                Remove
                                                            </div>
                                                            <span>Service Name</span>
                                                        </li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="box-list-service">
                                        <ul class="list-service">
                                            <% for(let items in listSystemsms) { %>
                                                <li class="items">
                                                    <div class="service-item"> <%= listSystemsms[items].name %>
                                                    <%- include ("../../svg/outline/blue-close.svg") %>
                                                    </div>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <div class="btn-default has-icon right">
                                        Clear All
                                        <%- include ("../../svg/outline/outline-close.svg") %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Form Template ACH insert -->
                        <div id="Reminder-2" class="tab-conts w-100">                            
                            <div class="p-5 insert-ach">
                                <div class="wrap-switch-reminder">
                                    <div class="switch-reminder-header">
                                        <div class="title">
                                            Reminder 1
                                        </div>
                                        <div class="switch large">
                                            <input id="toggle-ach" class="toggle toggle-round" type="checkbox" checked onclick="checkboxMessage('reminder-pending2');">
                                            <label for="toggle-ach">
                                                <span class="onoff enable-disable"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="switch-reminder-content reminder-pending2">
                                        <div class="wrap-pending">
                                            Send this reminder <input class="field-input" type="text" name="" id="" placeholder="30"> days after the pending date.
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                </div>

                                <div class="wrap-switch-reminder">
                                    <div class="insert-its">
                                        <div class="col">
                                            <span class="txt">Subject Line</span>
                                            <input class="field-input" type="text" name="" placeholder="">
                                        </div>

                                        <div class="dropdown dropdown-item mt-2">
                                            <div class="dropbtn btn-items btn-default has-icon">
                                                <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                                Insert Email Item
                                            </div>
                                            <div class="dropdown-menu">
                                                <ul class="relative scrolls">
                                                    <% for (i = 0; i < 10; i++){ %>
                                                    <li class="hover-yellow">
                                                        ACH Invitation
                                                    </li>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                </div>

                                <div class="wrap-switch-reminder mt-2">
                                    <div class="switch-reminder-header">
                                        <div class="title">
                                            Email Body
                                        </div>
                                        <div class="switch large">
                                            <input id="toggle-ach-restore" class="toggle toggle-round" type="checkbox" checked onclick="checkboxMessage('box-bodytemplate');">
                                            <label for="toggle-ach-restore">
                                                <span class="onoff enable-disable"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="switch-reminder-content box-bodytemplate">
                                        <div class="description-box">
                                            <textarea class="field-input" name="" rows="4" cols="50" placeholder="Placeholder"></textarea>
                                        </div>
                                        <div class="d-flex justify-space-between mt-1">
                                            <div class="btn-default has-icon">
                                                <%- include ("../../svg/outline/outline-plus-black.svg") %>
                                                Insert Email Item
                                            </div>
                                            <div class="btn-default has-icon">
                                                <%- include ("../../svg/outline/outline-repeat.svg") %>
                                                Restore Default
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="Reminder-3" class="tab-conts w-100">
                            <div class="p-5">Reminder 3</div>
                        </div>
                    </div>
                </div>

                <div class="container-setting-right">
                    <div class="container-content-email">
                        <div class="title">
                            <h3>Agmenty Invoice #5167</h3>
                        </div>
                        <div class="wrap-content-email">
                            <div class="logo">
                                <img src="/images/logo_company.png" alt="">
                            </div>
                            <div class="txt-welcome">
                                <p> Hi Client_First_Name, </p> <br/>
                                <p> I have attached your most recent invoice #5167 as a PDF. Please let me know if you have any questions. </p> <br/>
                                <p> Pay online using our secure checkout. </p>
                                <div class="btn btn-main btn-pay-online">
                                    <span>Pay Online</span>
                                </div>
                            </div>
                            <div class="line"></div>
                            <div class="txt-thanks-you">
                                <h5> Thanks for the business! </h5>
                               <p> Chris Moreschi </p> 
                               <p> TruGanix </p> 
                               <p> 855-536-7470 </p> 
                               <p>  chris.moreschi@gmail.com </p> <br/>
                               <p class="cursor-pointer manage-link">
                                    Manage Your Account &gt;&gt;
                                </p>
                            </div>
                            <div class="line"></div>
                            <div class="txt-feedback">
                                <h5> Tell us what you think </h5>
                                <p> Thanks for your business! How would you rate your experience? </p> 
                                <ul class="rate">
                                    <li>
                                        <%- include ("../../svg/outline-star.svg") %>
                                        <p> Terrible </p> 
                                    </li>
                                    <li>
                                        <%- include ("../../svg/outline-star.svg") %>
                                       <p> Poor </p> 
                                    </li>
                                    <li>
                                        <%- include ("../../svg/outline-star.svg") %>
                                       <p> Average </p> 
                                    </li>
                                    <li>
                                        <%- include ("../../svg/outline-star.svg") %>
                                        <p> Good </p> 
                                    </li>
                                    <li>
                                        <%- include ("../../svg/outline-star.svg") %>
                                       <p> Great! </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>      
        </div>
    </div>
</div>

<%- include('../../partials/_footer', {
    slug: 'system-email-template-v2',
    root: ''
}) %>