<%- include('../../partials/_head', {
    title: 'Report',
    slug: 'report-v2',
    root: ''
  }) %>
  
  <%- include('../../partials/_header') %>
  <%- include('../../partials/_sidebar') %>
  
  <!-- content -->
  <div class="report container-wrap">
      <%- include('_sidebar') %>
  
      <div class="container new-customer">
          <div class="main border-bottom-border-color-grey">
              <div class="header">
                  <div class="header-main">
                      <h2 class="header-title fs-18"> New Customers </h2>
  
                      <div class="content-chartjs">
                          <div class="chartjs-header">
                              <div class="list-years">
                                  <ul>
                                      <li class="button-three-dot">
                                          <%- include ("../../svg/outline/outline-more-verticale.svg") %>
                                      </li>
                                      <% for (i = 2010; i < 2021; i++){ %>
                                      <li <% if(i == 2020) { %> class="active" <% } %>> <%=i%> </li>
                                      <% } %>
                                  </ul>
                              </div>
                              <div class="btn-display">
                                  Hide <%- include ("../../svg/outline/outline-chevron-up-small.svg") %>
                              </div>
                          </div>
                          <div class="chartjs-content">
                              <div class="content-l">
                                  <img src="../../images/report/NewCustomers1.png" alt="" style="max-width: 100%;">
                              </div>
                              <div class="content-r">
                                  <img src="../../images/report/NewCustomers2.png" alt="" style="max-width: 100%;">
                              </div>
  
                          </div>
                      </div>
  
                      <div class="header-content pt-0 mt-3">
                          <div class="header-content-left pt-2 pb-2">
                              <div class="item-report">
                                  <%- include ("../../svg/outline/outline-calendar.svg") %>
                                  <span>03/06/2020 <span class="fs-13 date-to">to</span> 03/07/2020</span>
                              </div>
                              <!-- Dropdown search client -->
                              <div class="dropdown dropdown-items dropdown-revenue">
                                  <div onclick="dropdownFunc(this)" class="dropbtn btn-default selection">
                                      Clients
                                      <span class="svg-selectbox"><%- include ("../../svg/outline/icon-selectbox.svg") %></span>
                                  </div>
                                  <!-- Dropdown content -->
                                  <div class="dropdown-menu">
                                      <div class="revenue-content revenue-modified scrolls">
                                          <div class="search-input">
                                              <div class="search">
                                                  <span class="svg-search-absolute"><%- include ("../../svg/outline/outline-search.svg") %></span>
                                                  <input class="field-search" type="text" name="" placeholder="Search">
                                                  <span class="close-btn svg-remove white">
                                                      <%- include ("../../svg/outline/outline-remove.svg") %>
                                                  </span>
                                              </div>
                                          </div>
  
                                          <div class="result-search scrolls">
                                              <div class="content-selected">
                                                  <span class="title">Selected</span>
                                                  <div class="items selected">
                                                      <div class="avt">AB</div>
                                                      <div class="txt-ellipsis">Leo Knight</div>
                                                  </div>
                                                  <div class="items selected">
                                                      <div class="avt">AB</div>
                                                      <div class="txt-ellipsis">Takamaru Ayako</div>
                                                  </div>
                                                  <div class="items selected">
                                                      <div class="avt">AB</div>
                                                      <div class="txt-ellipsis">Gabriel Pires</div>
                                                  </div>
                                              </div>
  
                                              <div class="content-client">
                                                  <span class="title">Clients</span>
                                                  <% for (i = 0; i < 8; i++){ %>
                                                  <div class="items hover-yellow">
                                                      <div class="avt">AB</div>
                                                      <div class="txt-ellipsis">Lucy Miller</div>
                                                  </div>
                                                  <% } %>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- End -->
                              <div class="item-report border-none">
                                  <div class="dropdown dropdown-nobox">
                                      <div onclick="dropdownFunc(this)" class="dropbtn">
                                          <span class="sort">Sort By:</span>
                                          <span class="text">First Name</span>
                                          <span class="svg-dropup"><%- include ("../../svg/outline/dropdown-up.svg") %></span>
                                      </div>
                                      <div class="dropdown-menu">
                                          <div class="scrolls">
                                              <ul>
                                                  <li class="items">
                                                        <span class="txt-ellipsis">First name 2</span>
                                                  </li>
                                                  <li class="items">
                                                        <span class="txt-ellipsis">First name 2</span>
                                                  </li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
  
                          </div>
                          <div class="header-content-right">
                              <div class="item-report border-none">
                                  <span class="date-to fs-13">Export 864 customers:</span>
                                  <span class="csv pl-1 fs-13">CSV</span>
                                  <span class="excel pl-1 fs-13">Excel</span>
                              </div>
                              <div class="item-report mr-0 border-custom">
                                  <%- include ("../../svg/outline/outline-print.svg") %>
                                  <span class="date-to ml-1">Print</span>
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
          <!-- <div class="main border-bottom-border-color-grey">
        <div class="content">      
            <div class="tabs p-5">
                <div id="tabsActive" class="tab-conts">
                    Tabs Active
                  </div>
  
                  <div id="tabsDeleted" class="tab-conts" style="display:none">
                    Tabs Deleted
                  </div>
            </div>
        </div>
      </div> -->
          <%- include('../../partials/_pagination') %>
      </div>
  </div>
  
  <%- include('../../partials/_footer', {
      slug: 'report-v2',
      root: ''
  }) %>