<div class="container-wrap calendar has-jobtabs">
    <%- include('_job-header') %>
    <div class="container">
        <div id="displayView" class="calendar-container calendar-mode-vertical">
            <%- include('_header') %>            
            
            <div class="view-calendar">
                <!-- show map -->
                <div id="map" class="container-map">
                    <%- include('_control-mapbox') %>
                </div>

                <!-- custom resizable -->
                <div class="resizable">
                    <div class="resizable-handle"></div>
                </div>

                <!-- show calendar -->
                <div class="full-calendar" id="fullCalendar">
                    <!-- Calendar horizontal -->
                    <div id="calendar_horizontal" class="calendar-row"></div>
            
                    <!-- Calendar vertical -->
                    <div id="calendar" class="calendar-task"></div>

                    <!-- Job event -->
                    <%- include('_job-event') %>
                </div>

                <%- include('_taskpopup') %>
            </div>
        </div>

        <%- include('_sidebar') %>
    </div>
</div>
<%- include('_modal') %>