<div id="jobGroup" class="job-group">
    <!-- List Modal -->
    <div class="btn-job-list">
        <%- include ("../../svg/outline/outline-more-verticale.svg") %>
    </div>
    <div id="jobListItems" class="job-list-items">
        <div class="job-list-wrap dropdown-menu">
            <div class="job-header">
                <div id="closeAllJobList" class="job-header-body close-btn-job-list">
                    <%- include ("../../svg/outline/outline-close.svg") %>
                    <span>Close All</span>
                </div>
                
            </div>
            <div class="job-body scrolls">
                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name 4</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name 5</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name 6</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-item">
                        <div class="job-item">
                            <span class="job-status">MB</span>
                            <span class="customer-name">Service name 7</span>
                            <span class="job-name">
                                <span class="icon-animal">🦟</span>
                                <span class="service-title">Ant Monthly Service</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>

                <div class="job-row w-100">
                    <div class="w-100">
                        <div class="job-item">
                            <span class="job-status bg-yb">yb</span>
                            <span class="customer-name">Yolanda Barrueco</span>
                            <span class="job-name svg-message purple">
                                <%- include ("../../svg/outline/outline-message.svg") %>
                                <span class="service-title">SMS</span>
                            </span>
                        </div>
                    </div>
                    <span class="close-item-job">
                        <%- include ("../../svg/outline/outline-clear-field.svg") %>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End List Modal -->
    
    <div class="job-item">
        <span class="job-status">MB</span>
        <span class="customer-name">Dushai Daniel</span>
        <span class="job-name">
            <span class="icon-animal">🦟</span>
            <span class="service-title">Ant Monthly Service</span>
        </span>
    </div>

    <div class="job-item">
        <span class="job-status">MB</span>
        <span class="customer-name">Service name</span>
        <span class="job-name">
            <span class="icon-animal">🦟</span>
            <span class="service-title">Ant Monthly Service</span>
        </span>
    </div>

    <div class="job-item">
        <span class="job-status bg-md">MD</span>
        <span class="customer-name">Monika Derfflinger</span>
        <span class="job-name">
            <span class="icon-animal">🐛</span>
            <span class="service-title">Regular Service</span>
        </span>
    </div>

    <div class="job-item remove-icon active">
        <span class="job-status bg-ic">IC</span>
        <span class="customer-name">Indu Chakarvarti</span>
        <span class="job-name">
            <span class="service-title w-100">Invoice #56669</span>
        </span>
    </div>

    <div class="job-item remove-icon">
        <span class="job-status bg-ow">ow</span>
        <span class="customer-name">Opi Watihana</span>
        <span class="job-name">
            <span class="service-title">Estimate #59068</span>
        </span>
    </div>

    <div class="job-item sms-item">
        <span class="job-status bg-yb">yb</span>
        <span class="customer-name">Yolanda Barrueco</span>
        <span class="job-name w-auto svg-message white">
            <%- include ("../../svg/outline/outline-message.svg") %>
            <span class="service-title">SMS</span>
        </span>
    </div>

    <div class="job-item">
        <span class="job-status bg-dm">dm</span>
        <span class="customer-name w-name">Daisy Murphy</span>
    </div>

    <div class="job-item remove-icon">
        <span class="job-status bg-hp">hp</span>
        <span class="customer-name">Harmen Porter</span>
        <span class="job-name">
            <span class="service-title">Service Name</span>
        </span>
    </div>

    <div class="job-item remove-icon">
        <span class="job-status bg-hp">hp</span>
        <span class="customer-name">Harmen Porter</span>
        <span class="job-name">
            <span class="service-title">Service Name</span>
        </span>
    </div>
</div>