<div class="calendar-event">
    <div class="contents">
        <!-- Confirmed -->
       <div class="event confirmed">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="event-title">
                    <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                    <div class="emoji">😀</div>
                    <div class="name">Service Name</div>
                </div>
                <div class="event-content">
                    <div>WV 26501, Morgantown, WV 26501</div>
                    <div>Sampson Totton</div>
                    <div>14 September, Sun</div>
                    <div>14:00 - 15:30</div>
                </div>
                <div class="event-bottom">
                    <div class="assigned">
                        <div class="avt-img">
                            <img src="https://unsplash.it/20/20" alt="">
                        </div>
                        <div class="avt-img">
                            <img src="https://unsplash.it/30/30" alt="">
                        </div>
                    </div>
                </div>
            </div>                                        
            <div class="resize bottom"></div>
       </div>
        <!-- Unconfirmed -->
        <div class="event unconfirmed">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="event-title">
                    <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                    <div class="emoji">😀</div>
                    <div class="name">Service Name</div>
                </div>
                <div class="event-content">
                    <div>WV 26501, Morgantown, WV 26501</div>
                    <div>Sampson Totton</div>
                    <div>14 September, Sun</div>
                    <div>14:00 - 15:30</div>
                </div>
                <div class="event-bottom">
                    <div class="assigned">
                        <div class="avt-img">
                            <img src="https://unsplash.it/20/20" alt="">
                        </div>
                        <div class="avt-img">
                            <img src="https://unsplash.it/30/30" alt="">
                        </div>
                    </div>

                    <div class="notifi">
                        <div class="noti unread-sms svg-message white">
                            <%- include ("../../svg/outline/outline-message.svg") %>
                        </div>
                        <div class="noti unread-noti svg-bell-white">
                            <%- include ("../../svg/outline/outline-bell.svg") %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize bottom"></div>
        </div>
        <!-- Completed -->
        <div class="event completed">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="event-title">
                    <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                    <div class="emoji">😀</div>
                    <div class="name">Service Name</div>
                </div>
                <div class="event-content">
                    <div>WV 26501, Morgantown, WV 26501</div>
                    <div>Sampson Totton</div>
                    <div>14 September, Sun</div>
                    <div>14:00 - 15:30</div>
                </div>
                <div class="event-bottom">
                    <div class="assigned">
                        <div class="avt-img">
                            <img src="https://unsplash.it/20/20" alt="">
                        </div>
                    </div>

                    <div class="notifi">
                        <div class="noti unread-noti svg-bell-white">
                            <%- include ("../../svg/outline/outline-bell.svg") %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize bottom"></div>
        </div>
        <!-- Missed -->
        <div class="event missed">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="event-title">
                    <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                    <div class="emoji">😀</div>
                    <div class="name">Service Name</div>
                </div>
                <div class="event-content">
                    <div>WV 26501, Morgantown, WV 26501</div>
                    <div>Sampson Totton</div>
                    <div>14 September, Sun</div>
                    <div>14:00 - 15:30</div>
                </div>
                <div class="event-bottom">
                    <div class="assigned">
                        <div class="avt-img">
                            <img src="https://unsplash.it/20/20" alt="">
                        </div>
                    </div>

                    <div class="notifi">
                        <div class="noti unread-sms svg-message white">
                            <%- include ("../../svg/outline/outline-message.svg") %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize bottom"></div>
        </div>
        <!-- Pending booking -->
        <div class="event pending-booking">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="conts">
                    <div class="event-title">
                        <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                        <div class="emoji">😀</div>
                        <div class="name">Service Name</div>
                    </div>
                    <div class="event-content">
                        <div>WV 26501, Morgantown, WV 26501</div>
                        <div>Sampson Totton</div>
                        <div>14 September, Sun</div>
                        <div>14:00 - 15:30</div>
                    </div>
                    <div class="event-bottom">
                        <div class="assigned">
                            <div class="avt-img">
                                <img src="https://unsplash.it/20/20" alt="">
                            </div>
                            <div class="avt-img">
                                <img src="https://unsplash.it/30/30" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize bottom"></div>
        </div>
        <!-- Reschedule -->
        <div class="event reschedule">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="event-title">
                    <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                    <div class="emoji">😀</div>
                    <div class="name">Service Name</div>
                </div>
                <div class="event-content">
                    <div>WV 26501, Morgantown, WV 26501</div>
                    <div>Sampson Totton</div>
                    <div>14 September, Sun</div>
                    <div>14:00 - 15:30</div>
                </div>
                <div class="event-bottom">
                    <div class="assigned">
                        <div class="avt-img">
                            <img src="https://unsplash.it/20/20" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize bottom"></div>
        </div>
        <!-- Canceled -->
        <div class="event canceled">
            <div class="resize top"></div>
            <div draggable="true" class="events-job">
                <div class="event-title">
                    <div class="locked"><%- include ("../../svg/outline/outline-lock.svg") %></div>
                    <div class="emoji">😀</div>
                    <div class="name">Service Name</div>
                </div>
                <div class="event-content">
                    <div>WV 26501, Morgantown, WV 26501</div>
                    <div>Sampson Totton</div>
                    <div>14 September, Sun</div>
                    <div>14:00 - 15:30</div>
                </div>
                <div class="event-bottom">
                    <div class="assigned">
                        <div class="avt-img">
                            <img src="https://unsplash.it/20/20" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="resize bottom"></div>
        </div>
    </div>
</div>