<%- include('partials/_head', {
    title: 'Style Guides',
    slug: 'dashboard',
    root: ''
}) %>

    <h1 style="text-align: center; color: olive;"> ------ Style guides Icons ------ </h1>
    <div class="wrap-icons" style="width: 1000px; margin: 0 auto; display: flex; justify-content: center;">

        <div class="col-mid col-4" style="width: 33%; float: left;">
            <h3> --- Outline (actions) --- </h3>
            <div class="content" style="display: flex; flex-wrap: wrap; flex-grow: 1; width: 80%;">

                <div class="items outline-academy" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-academy.svg") %>
                </div>
                <div class="items outline-activity-level" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-activity-level.svg") %>
                </div>
                <div class="items outline-add-new" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-add-new.svg") %>
                </div>
                <div class="items outline-aera" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-aera.svg") %>
                </div>
                <div class="items outline-arrow-check" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-arrow-check.svg") %>
                </div>
                <div class="items outline-double-arrow-check" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-double-arrow-check.svg") %>
                </div>
                <div class="items outline-arrow-left" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-arrow-left.svg") %>
                </div>
                <div class="items outline-arrow-right" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-arrow-right.svg") %>
                </div>
                <div class="items outline-attach" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-attach.svg") %>
                </div>
                <div class="items outline-bank" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-bank.svg") %>
                </div>
                <div class="items outline-batch" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-batch.svg") %>
                </div>
                <div class="items outline-bell" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-bell.svg") %>
                </div>
                <div class="items outline-book" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-book.svg") %>
                </div>
                <div class="items outline-bottom-map" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-bottom-map.svg") %>
                </div>
                <div class="items outline-broadcast" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-broadcast.svg") %>
                </div>
                <div class="items outline-burger-menu" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline-burger-menu.svg") %>
                </div>
                <div class="items outline-calendar" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-calendar.svg") %>
                </div>
                <div class="items outline-list-row" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-list-row.svg") %>
                </div>
                <div class="items outline-open" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-open.svg") %>
                </div>
                <div class="items outline-list-columns" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-list-columns.svg") %>
                </div>
                <div class="items outline-camera" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-camera.svg") %>
                </div>
                <div class="items outline-cash" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-cash.svg") %>
                </div>
                <div class="items outline-check-circle" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-check-circle.svg") %>
                </div>
                <div class="items outline-receipt" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-receipt.svg") %>
                </div>
                <div class="items outline-chevron-down" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chevron-down.svg") %>
                </div>
                <div class="items /outline-chevron-down-small" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                </div>                
                <div class="items outline-chavron-left" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chavron-left.svg") %>
                </div>
                <div class="items outline-chavron-left-double" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chavron-left-double.svg") %>
                </div>
                <div class="items outline-chevron-right style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chevron-right.svg") %>
                </div>
                <div class="items outline-chavron-right-double" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chavron-right-double.svg") %>
                </div>
                <div class="items outline-chavron-up" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chavron-up.svg") %>
                </div>
                <div class="items outline-chevron-up-small" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-chevron-up-small.svg") %>
                </div>
                <div class="items outline-clear-field" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-clear-field.svg") %>
                </div>
                <div class="items outline-clock" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-clock.svg") %>
                </div>
                <div class="items outline-close" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-close.svg") %>
                </div>
                <div class="items outline-clover" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-clover.svg") %>
                </div>
                <div class="items outline-collapse" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-collapse.svg") %>
                </div>
                <div class="items outline-collapse-2" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-collapse-2.svg") %>
                </div>
                <div class="items outline-color" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-color.svg") %>
                </div>
                <div class="items outline-comment-reply" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-comment-reply.svg") %>
                </div>
                <div class="items outline-contact" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-contact.svg") %>
                </div>
                <div class="items outline-copy" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-copy.svg") %>
                </div>
                <div class="items outline-customer-circle" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-customer-circle.svg") %>
                </div>
                <div class="items outline-edit-customer" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-edit-customer.svg") %>
                </div>
                <div class="items outline-device-status" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-device-status.svg") %>
                </div>
                <div class="items outline-devices" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-devices.svg") %>
                </div>
                <div class="items outline-devices-type" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-devices-type.svg") %>
                </div>
                <div class="items outline-document" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-document.svg") %>
                </div>
                <div class="items outline-docx" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-docx.svg") %>
                </div>
                <div class="items outline-download" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-download.svg") %>
                </div>
                <div class="items outline-drag" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-drag.svg") %>
                </div>
                <div class="items outline-edit" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-edit.svg") %>
                </div>
                <div class="items outline-email-forward" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-email-forward.svg") %>
                </div>
                <div class="items outline-email-reply" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-email-reply.svg") %>
                </div>
                <div class="items outline-email-reply-all" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-email-reply-all.svg") %>
                </div>
                <div class="items outline-emoji" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-emoji.svg") %>
                </div>
                <div class="items outline-estimate" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-estimate.svg") %>
                </div>
                <div class="items outline-except" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-except.svg") %>
                </div>
                <div class="items outline-expand" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-expand.svg") %>
                </div>
                <div class="items outline-show" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-show.svg") %>
                </div>
                <div class="items outline-hide" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-hide.svg") %>
                </div>
                <div class="items outline-facebook" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-facebook.svg") %>
                </div>
                <div class="items outline-features" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-features.svg") %>
                </div>
                <div class="items outline-types" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-types.svg") %>
                </div>
                <div class="items outline-filter" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-filter.svg") %>
                </div>
                <div class="items  outline-filter-active" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-filter-active.svg") %>
                </div>
                <div class="items outline-folder" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-folder.svg") %>
                </div>
                <div class="items outline-gear" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-gear.svg") %>
                </div>
                <div class="items outline-google-calendar" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-google-calendar.svg") %>
                </div>
                <div class="items outline-help" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-help.svg") %>
                </div>
                <div class="items outline-image" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-image.svg") %>
                </div>
                <div class="items outline-invoice" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-invoice.svg") %>
                </div>
                <div class="items outline-job" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-job.svg") %>
                </div>
                <div class="items outline-job-edit" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-job-edit.svg") %>
                </div>
                <div class="items outline-job-status" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-job-status.svg") %>
                </div>
                <div class="items outline-map-left" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-map-left.svg") %>
                </div>
                <div class="items outline-location" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-location.svg") %>
                </div>
                <div class="itemsoutline-ulock" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-ulock.svg") %>
                </div>
                <div class="items outline-lock" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-lock.svg") %>
                </div>
                <div class="items outline-map" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-map.svg") %>
                </div>
                <div class="items outline-materials" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-materials.svg") %>
                </div>
                <div class="items states-materials-default" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/states-materials-default.svg") %>
                </div>
                <div class="items outline-log-out" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-log-out.svg") %>
                </div>
                <div class="items outline-mail" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-mail.svg") %>
                </div>
                <div class="items outline-map-pin" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-map-pin.svg") %>
                </div>
                <div class="items outline-my-location" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-my-location.svg") %>
                </div>
                <div class="items outline-message svg-message" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-message.svg") %>
                </div>
                <div class="items outline-minus" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-minus.svg") %>
                </div>
                <div class="items outline-light-mode" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-light-mode.svg") %>
                </div>
                <div class="items outline-night-mode" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-night-mode.svg") %>
                </div>
                <div class="items outline-mode" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-mode.svg") %>
                </div>
                <div class="items outline-more-horisontal" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-more-horisontal.svg") %>
                </div>
                <div class="items outline-more-verticale" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-more-verticale.svg") %>
                </div>
                <div class="items outline-note" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-note.svg") %>
                </div>
                <div class="items outline-openadge" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-openadge.svg") %>
                </div>
                <div class="items outline-payment-card" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-payment-card.svg") %>
                </div>
                <div class="items outline-wallet" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-wallet.svg") %>
                </div>
                <div class="items outline-pdf" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-pdf.svg") %>
                </div>
                <div class="items outline-pen" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-pen.svg") %>
                </div>
                <div class="items outline-phone" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-phone.svg") %>
                </div>
                <div class="itemsoutline-pluse-circle" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-plus-circle.svg") %>
                </div>
                <div class="items outline-plus-black" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-plus-black.svg") %>
                </div>
                <div class="items outline-powerup-none" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-powerup-none.svg") %>
                </div>
                <div class="items outline-powerups" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-powerups.svg") %>
                </div>
                <div class="items outline-primary-user" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-primary-user.svg") %>
                </div>
                <div class="items outline-print" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-print.svg") %>
                </div>
                <div class="items outline-question" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-question.svg") %>
                </div>

                <div class="items icon-cancel" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/icon-cancel.svg") %>
                </div>
                <div class="items blue-close" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/blue-close.svg") %>
                </div>
                <div class="items outline-remove" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-remove.svg") %>
                </div>
                <div class="items outline-rename" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-rename.svg") %>
                </div>
                <div class="items outline-repeat" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-repeat.svg") %>
                </div>
                <div class="items outline-repeat-2" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-repeat-2.svg") %>
                </div>
                <div class="items outline-repeat-3" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-repeat-3.svg") %>
                </div>
                <div class="items outline-rocket" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-rocket.svg") %>
                </div>
                <div class="items outline-rout" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-rout.svg") %>
                </div>
                <div class="items outline-scan" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-scan.svg") %>
                </div>
                <div class="items outline-search" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-search.svg") %>
                </div>
                <div class="items outline-send-message" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-send-message.svg") %>
                </div>
                <div class="items outline-shop" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-shop.svg") %>
                </div>
                <div class="items outline-signature" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-signature.svg") %>
                </div>
                <div class="items outline-square" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-square.svg") %>
                </div>

                <div class="items outline-start" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-star.svg") %>
                </div>

                <div class="items outline-finish" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-star.svg") %>
                </div>
                <div class="items outline-star" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-star.svg") %>
                </div>
                <div class="items outline-star-none" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-star-none.svg") %>
                </div>
                <div class="items outline-stripe" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-stripe.svg") %>
                </div>
                <div class="items outline-subnote" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-subnote.svg") %>
                </div>
                <div class="items outline-task" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-task.svg") %>
                </div>
                <div class="items outline-task-small" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-task-small.svg") %>
                </div>
                <div class="items outline-text-bold" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-text-bold.svg") %>
                </div>
                <div class="items outline-text-italic" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-text-italic.svg") %>
                </div>
                <div class="items outline-text-list-1" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-text-list-1.svg") %>
                </div>
                <div class="items outline-text-list-2" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-text-list-2.svg") %>
                </div>
                <div class="items outline-text-underline" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-text-underline.svg") %>
                </div>

                <div class="items outline-timer" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-timer.svg") %>
                </div>
                <div class="items outline-delete" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-delete.svg") %>
                </div>
                <div class="items outline-units" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-units.svg") %>
                </div>
                <div class="items outline-units-materials" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-units-materials.svg") %>
                </div>
                <div class="items outline-youtube" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-youtube.svg") %>
                </div>
                <div class="items outline-powerup-white" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-powerup-white.svg") %>
                </div>
                <div class="items outline-powerups-orange" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-powerups-orange.svg") %>
                </div>
                <div class="items outline-close-menu" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline-close-menu.svg") %>
                </div>
                <div class="items outline-green-arrow" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-green-arrow.svg") %>
                </div>
                <div class="items dropdown-down" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/dropdown-down.svg") %>
                </div>
                <div class="items dropdown-up" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/dropdown-up.svg") %>
                </div>
                <div class="items outline-training" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-training.svg") %>
                </div>
                <div class="items outline-upload" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-upload.svg") %>
                </div>
                <div class="items outline-merge" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-merge.svg") %>
                </div>
                <div class="items outline-variable" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-variable.svg") %>
                </div>
                <div class="items outline-minus-clock" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-minus-clock.svg") %>
                </div>
                <div class="items checkbox-multiselect" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/checkbox-multiselect.svg") %>
                </div>
                <div class="items outline-code" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-code.svg") %>
                </div>
                <div class="items outline-zoom-in" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-zoom-in.svg") %>
                </div>
                <div class="items outline-zoom-out" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-zoom-out.svg") %>
                </div>
                <div class="items outline-tile-size-large" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-tile-size-large.svg") %>
                </div>
                <div class="items outline-tile-size-regular" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-tile-size-regular.svg") %>
                </div>
                <div class="items outline-tile-size-small" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-tile-size-small.svg") %>
                </div>
                <div class="items outline-arrow-smooth" style="flex: 1 1 15%; margin-bottom: 10px;">
                    <%- include ("svg/outline/outline-arrow-smooth.svg") %>
                </div>
            </div>
        </div>

        <div>
            <%- include ("svg/splash.svg") %>
        </div>
    </div>

    <!-- Status -->
    <div style="width: 1000px;margin: 0 auto;display: flex; flex-wrap: wrap;">
        <h1 style="text-align: center;color: green;width: 100%;"> ------ Button Invoices Status ------ </h1>

        <div style="width: 200px;">
            <div class="fs-13 mb-5" style="color: #5161f1;">Lozenge</div>

            <span class="btn-status lozenge draft">Draft</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge sent">Sent</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge void">Void</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge write-off">Write Off</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge partial">Partial</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge partial-paid">Partial Paid</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge paid">Paid</span>
            <hr style="border-color: transparent;">
            <span class="btn-status lozenge failed">Failed</span>
        </div>
        <div style="width: 200px;">
            <div class="fs-13 mb-5" style="color: #5161f1;">Tag</div>

            <div class="btn-status draft">Draft</div>
            <hr style="border-color: transparent;">
            <div class="btn-status sent">Sent</div>
            <hr style="border-color: transparent;">
            <div class="btn-status void">Void</div>
            <hr style="border-color: transparent;">
            <div class="btn-status write-off">Write Off</div>
            <hr style="border-color: transparent;">
            <div class="btn-status partial">Partial</div>
            <hr style="border-color: transparent;">
            <div class="btn-status partial-paid">Partial Paid</div>
            <hr style="border-color: transparent;">
            <div class="btn-status paid">Paid</div>
            <hr style="border-color: transparent;">
            <div class="btn-status failed">Failed</div>
        </div>
    </div>

    <!-- Style for dropdown -->
    <div style="max-width: 1000px;margin: auto;margin-top: 25px;">
        <h1 style="text-align: center; color: blue;width: 100%;"> ------ Style for Dropdown ------ </h1>

        <div style="display: flex;">
            <div class="dropdown active" style="width: 160px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">Sections</div>

                    <div class="arrow outline-chevron-down-small">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu scrolls">
                    <ul>
                        <div class="title-section"> Countries </div>
                        <li class="items">
                            <div class="txt-ellipsis">Mexico</div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis">United Kingdom </div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis">Germany </div>
                        </li>

                        <div class="title-section"> World Cities </div>
                        <li class="items">
                            <div class="txt-ellipsis">Pan Feng </div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis">Jenny Murtaugh </div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis"> Alex Edwards </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- With icon -->
            <div class="dropdown active" style="width: 160px;margin-left: 30px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">With Icon</div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu scrolls">
                    <ul>
                        <% for (i = 0; i < 5; i++){ %>
                        <li class="items has-icon">
                            <%- include ("svg/outline/outline-receipt.svg") %>
                            <div class="txt-ellipsis">
                                Chennai
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
            <!-- With Separated -->
            <div class="dropdown active" style="width: 160px;margin-left: 30px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">Separated</div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu scrolls">
                    <ul >
                        <% for (i = 0; i < 3; i++){ %>
                        <li class="items">
                            <div class="txt-ellipsis">Chennai</div>
                        </li>
                        <% } %>
                        <div class="line"></div>
                        <% for (i = 0; i < 2; i++){ %>
                        <li class="items">
                            <div class="txt-ellipsis">Reykjavik </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <!-- With Selected + checkbox -->
        <div style="display: flex;margin-top: 380px;">
            <div class="dropdown active" style="width: 160px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">
                        Cities
                        <span class="number">(3)</span>
                    </div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu content-checked scrolls">
                    <ul>
                        <% for (let g = 1; g < 6;  g++ ) { %>
                        <li class="items">
                            <div class="check-items">
                                <input id="check-items-<%=g%>" type="checkbox">
                               <div class="item-checkbox">
                                    <label for="check-items-<%=g%>"> 
                                        <span class="txt-ellipsis">Jacksonville</span>
                                    </label>
                               </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="dropdown active" style="width: 360px;margin-left: 30px;">
                <div class="dropbtn items group-tags">
                    <div class="box-tags">
                        <div class="tag-label">
                            Jacksonville
                            <div class="svg-remove black">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </div>
                        <div class="tag-label">
                            York
                            <div class="svg-remove black">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </div>
                        <div class="tag-label">
                            Brazzaville
                            <div class="svg-remove black">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </div>
                        <div class="tag-label tag-more"> +3 </div>

                        <div class="close-tags svg-remove white">
                            <%- include ("svg/outline/outline-remove.svg") %>
                        </div>
                    </div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu content-checked scrolls">
                    <ul>
                        <% for (let g = 1; g < 6;  g++ ) { %>
                        <li class="items">
                            <div class="check-items">
                                <input id="check-box-<%=g%>" type="checkbox">
                                <div class="item-checkbox">
                                    <label for="check-box-<%=g%>"> 
                                        <span class="txt-ellipsis">Guatemala City</span>
                                    </label>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div style="display: flex;margin-top: 280px;">
            <div class="dropdown active" style="width: 160px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">States</div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu scrolls">
                    <ul>
                        <li class="items">
                            <div class="txt-ellipsis">Mexico</div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis">United Kingdom </div>
                        </li>
                        <li class="items active">
                            <div class="txt-ellipsis">Germany </div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis">Pan Feng </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="dropdown active" style="width: 360px;margin-left: 30px;">
                <div class="dropbtn items group-tags has-search">
                    <div class="box-tags">
                        <div class="tag-label">
                            Jacksonville
                            <div class="svg-remove black">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </div>
                        <div class="tag-label">
                            York
                            <div class="svg-remove black">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </div>
                        <input type="text" class="select-input-tag">
                        <div class="close-tags svg-remove white">
                            <%- include ("svg/outline/outline-remove.svg") %>
                        </div>
                    </div>
                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu content-tags scrolls">
                    <ul >
                        <li class="items">
                            <div class="txt-ellipsis tag-btn bg-deeppink">Riyadh</div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis tag-btn bg-deepyellow">Quezon City</div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis tag-btn bg-deepazure">Guatemala City</div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis tag-btn bg-olivegreen">Budapest</div>
                        </li>
                        <li class="items">
                            <div class="txt-ellipsis tag-btn bg-carrot">Tulsa</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  -->
        <div style="display: flex;margin-top: 280px;">
            <div class="dropdown active" style="width: 360px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">
                        Users
                        <span class="number">(3)</span>
                    </div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu content-user scrolls">
                    <ul>
                        <li class="items active">
                            <div class="user-name">
                                <div class="avt-img">
                                    <img src="https://unsplash.it/28/28" alt="">
                                </div>
                                <span class="txt-ellipsis">Yeray Rosales</span>

                                <div class="primary-btn">Primary</div>
                            </div>
                            <div class="close-tags svg-remove white">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </li>
                        <li class="items active">
                            <div class="user-name">
                                <div class="avt-img">
                                    <img src="https://unsplash.it/30/30" alt="">
                                </div>
                                <span class="txt-ellipsis">Jacqueline Likoki</span>

                                <div class="btn-hover-black">Primary</div>
                            </div>
                            <div class="close-tags svg-remove white">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </li>
                        <% for (i = 0; i < 3; i++){ %>
                        <li class="items">
                            <div class="user-name">
                                <div class="avt-img">
                                    <img src="https://unsplash.it/25/25" alt="">
                                </div>
                                <span class="txt-ellipsis">Vladěna Klímková</span>
                            </div>
                            <div class="close-tags svg-remove white">
                                <%- include ("svg/outline/outline-remove.svg") %>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="dropdown active" style="width: 360px;margin-left: 30px;">
                <div class="dropbtn items">
                    <div class="txt-ellipsis">
                        Users
                        <span class="number">(3)</span>
                    </div>

                    <div class="arrow">
                        <%- include ("svg/outline/outline-chevron-down-small.svg") %>
                    </div>
                </div>
                <div class="dropdown-menu content-search" style="height: 250px;">
                    <div class="container-column">
                        <div class="flex-auto header-search">
                            <div class="search-input">
                                <span class="svg-search-absolute"><%- include ("svg/outline/outline-search.svg") %></span>
                                <input class="field-search no-effect" type="text" name="" placeholder="Search">
                            </div>
                        </div>
                        <div class="box-auto scrolls"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Style for dropdown -->

    <div style="max-width: 1170px;margin: auto;margin-top: 300px;">
        <h1 style="text-align: center; color: green;"> ------ Style guides form ------ </h1>

        <div class="py-5" style="max-width: 500px;margin: auto;">
            <div class="boxs has-form">
                <div class="rows">
                    <div class="col">
                        <span class="txt">Text</span>
                        <input class="field-input" type="text" name="" placeholder="Placeholder">
                    </div>
                </div>

                <div class="rows mt-5">
                    <input class="field-input error" type="text" name="" placeholder="" value="Wrong Value">
                    <span class="dp-inline-block txt-incorrect">
                        <%- include ("svg/outline/error-icon.svg") %>
                        Incorrect email address
                    </span>
                </div>

                <div class="rows mt-5">
                    <input class="field-input disable" type="text" name="" placeholder="Placeholder">
                </div>

                <div class="rows mt-5">
                    <div class="dropdown">
                        <div onclick="dropdownFunc(this)" class="dropbtn btn-default selection border-dark">
                            <div class="txt-ellipsis">Option</div>
                        </div>
                        <div class="dropdown-menu">
                            <ul>
                                <li>
                                    <div class="txt-ellipsis">Option</div>
                                </li>
                                <li>
                                    <div class="txt-ellipsis">Option</div>
                                </li>
                          </ul>
                        </div>
                  </div>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="wrap">
            <div class="check-items">
                <input id="checkbox-01" type="checkbox">
               <div class="item-checkbox">
                    <label for="checkbox-01"> 
                        <span class="txt-ellipsis">Text</span>
                    </label>
               </div>
            </div>
            <br>
            <div class="check-items sticket has-bg">
                <input class="check-all" id="check-tabs-desktop" type="checkbox" value="">
                <label for="check-tabs-desktop"> 
                    Desktop 
                    <span></span>
                </label>
            </div>

            <div class="mt-5">
                <div class="btn-default has-icon">
                    <%- include ("svg/outline/outline-show.svg") %>
                    Preview
                </div>
            </div>
            <div class="mt-3">
                <div class="btn-default">
                    Preview
                </div>
            </div>
            <div class="mt-3">
                <div class="field-input wrapper-choosetime">
                    <div class="from-time">
                        <div class="dropdown">
                            <div onclick="dropdownFunc(this)" class="dropbtn btn-default selection">
                                <span>01</span>
                                <span class="time-text">h</span>
                                <span class="svg-selectbox"><%- include ("svg/outline/icon-selectbox.svg") %></span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="scrolls">
                                    <ul>
                                        <li>
                                            <div class="items">01</div>
                                        </li>
                                        <li>
                                            <div class="items">02</div>
                                        </li>
                                        <li>
                                            <div class="items">03</div>
                                        </li>
                                        <li>
                                            <div class="items">04</div>
                                        </li>
                                        <li>
                                            <div class="items">05</div>
                                        </li>
                                        <li>
                                            <div class="items">06</div>
                                        </li>
                                        <li>
                                            <div class="items">07</div>
                                        </li>
                                        <li>
                                            <div class="items">08</div>
                                        </li>
                                        <li>
                                            <div class="items">09</div>
                                        </li>
                                        <li>
                                            <div class="items">10</div>
                                        </li>
                                        <li>
                                            <div class="items">11</div>
                                        </li>
                                        <li>
                                            <div class="items">12</div>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="from-time">
                        <div class="dropdown">
                            <div onclick="dropdownFunc(this)" class="dropbtn btn-default selection">
                                <span>01</span>
                                <span class="time-text">m</span>
                                <span class="svg-selectbox"><%- include ("svg/outline/icon-selectbox.svg") %></span>
                            </div>
                            <div class="dropdown-menu">
                                <div class="scrolls">
                                    <ul>
                                        <li>
                                            <div class="items">01</div>
                                        </li>
                                        <li>
                                            <div class="items">02</div>
                                        </li>
                                        <li>
                                            <div class="items">03</div>
                                        </li>
                                        <li>
                                            <div class="items">04</div>
                                        </li>
                                        <li>
                                            <div class="items">05</div>
                                        </li>
                                        <li>
                                            <div class="items">06</div>
                                        </li>
                                        <li>
                                            <div class="items">07</div>
                                        </li>
                                        <li>
                                            <div class="items">08</div>
                                        </li>
                                        <li>
                                            <div class="items">09</div>
                                        </li>
                                        <li>
                                            <div class="items">10</div>
                                        </li>
                                        <li>
                                            <div class="items">11</div>
                                        </li>
                                        <li>
                                            <div class="items">12</div>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs">
                        <div class="btn-item m-0">
                            <button class="tab-items" type="button">
                                AM
                            </button>
                            <button class="tab-items active-tab-selector" type="button">
                                PM
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="modal-messaging">
                    <div class="modal_container">
                        <div class="header-modal">
                            <span class="title">Messaging Preferences</span>
                        </div>
                
                        <div class="body-modal">
                            <div class="scrolls">
                                <div class="box-preferences tabs">
                                    <span class="txt-appointment">Appointment</span>
                                    <div class="lines">
                                        <span class="txt">
                                            Confirmations
                                        </span>
                                        <div class="field">
                                            <div class="tabs-daily">
                                                <div class="btn-item m-0">
                                                    <button class="tab-items active-tab-selector item-off" type="button">
                                                        Off
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Email
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        SMS
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Both
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lines">
                                        <span class="txt">
                                            Reminders
                                        </span>
                                        <div class="field">
                                            <div class="tabs-daily">
                                                <div class="btn-item m-0">
                                                    <button class="tab-items item-off" type="button">
                                                        Off
                                                    </button>
                                                    <button class="tab-items active-tab-selector" type="button">
                                                        Email
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        SMS
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Both
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lines">
                                        <span class="txt">
                                            Followups
                                        </span>
                                        <div class="field">
                                            <div class="tabs-daily">
                                                <div class="btn-item m-0">
                                                    <button class="tab-items item-off" type="button">
                                                        Off
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Email
                                                    </button>
                                                    <button class="tab-items active-tab-selector" type="button">
                                                        SMS
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Both
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lines line-border"></div>
                                    <div class="lines">
                                        <span class="txt">
                                            Broadcasts
                                        </span>
                                        <div class="field">
                                            <div class="tabs-daily">
                                                <div class="btn-item m-0">
                                                    <button class="tab-items item-off" type="button">
                                                        Off
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Email
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        SMS
                                                    </button>
                                                    <button class="tab-items active-tab-selector" type="button">
                                                        Both
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lines">
                                        <span class="txt">
                                            Late Payment Reminders
                                        </span>
                                        <div class="field">
                                            <div class="tabs-daily">
                                                <div class="btn-item m-0">
                                                    <button class="tab-items item-off" type="button">
                                                        Off
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Email
                                                    </button>
                                                    <button class="tab-items active-tab-selector" type="button">
                                                        SMS
                                                    </button>
                                                    <button class="tab-items" type="button">
                                                        Both
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-5" style="padding-left: 50px !important;">
                <div class="switch large">
                    <input id="toggle-in-out" class="toggle toggle-round" type="checkbox">
                    <label for="toggle-in-out">
                        <span class="onoff"></span>
                    </label>
                </div>
                <br>
                <div class="switch large">
                    <input id="toggle-hide-show" class="toggle toggle-round" type="checkbox">
                    <label for="toggle-hide-show">
                        <span class="onoff hideshow"></span>
                    </label>
                </div>
                <br>
                <div class="switch large">
                    <input id="toggle-enable-disable" class="toggle toggle-round" type="checkbox">
                    <label for="toggle-enable-disable">
                        <span class="onoff enable-disable"></span>
                    </label>
                </div>
            </div>

        </div>

        <ul class="rate">
            <li>
                <%- include ("svg/outline-star.svg") %>
                <p> Terrible </p> 
            </li>
            <li>
                <%- include ("svg/outline-star.svg") %>
               <p> Poor </p> 
            </li>
            <li>
                <%- include ("svg/outline-star.svg") %>
               <p> Average </p> 
            </li>
            <li>
                <%- include ("svg/outline-star.svg") %>
                <p> Good </p> 
            </li>
            <li>
                <%- include ("svg/outline-star.svg") %>
               <p> Great! </p>
            </li>
        </ul>
        <!--  -->
        <br /><br />

        <div class="container-message-builder">
            <div class="message-builder-left scrolls">
                <p>Hi
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name 
                        <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span>
                    .
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
            </div>
            <div class="message-builder-right">
                <div class="btn-plus-message">
                    <%- include ("svg/outline/outline-plus-black.svg") %>
                </div>
                <div class="btn-reload-message">
                    <%- include ("svg/outline/outline-repeat.svg") %>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="container-message-builder medium">
            <div class="message-builder-left scrolls">
                <p>Hi
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span>
                    .
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
            </div>
            <div class="message-builder-right">
                <div class="btn-plus-message">
                    <%- include ("svg/outline/outline-plus-black.svg") %>
                </div>
                <div class="btn-reload-message">
                    <%- include ("svg/outline/outline-repeat.svg") %>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="container-message-builder small">
            <div class="message-builder-left scrolls">
                <p>Hi
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span>
                    .
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
                <p>
                    I have attached your most recent invoice
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> as a PDF. Please let me know if you have any questions.
                    <span class="btn btn-tag-message">
                        <span class="svg-drag-blue"><%- include ("svg/outline/outline-drag.svg") %></span> Company Name <span class="svg-remove-blue"><%- include ("svg/outline/outline-remove.svg") %></span>
                    </span> Pay online using our secure checkout.
                    Thanks for the business!
                </p>
            </div>
            <div class="message-builder-right">
                <div class="btn-plus-message">
                    <%- include ("svg/outline/outline-plus-black.svg") %>
                </div>
                <div class="btn-reload-message">
                    <%- include ("svg/outline/outline-repeat.svg") %>
                </div>
            </div>
        </div>

    </div>