<div class="footer-pages">
	<div class="justify-space-between">
		<div class="d-flex align-center">
			<div class="dropup">
				<div onclick="dropdownFunc(this)" class="dropbtn btn-default selection justify-start">
					11 Per Page
					<span class="svg-selectbox"><%- include ("../svg/outline/icon-selectbox.svg") %></span>
				</div>
				<div class="dropdown-menu">
					<ul>
						<li>
							<div class="items">11 Per Page</div>
						</li>
						<li>
							<div class="items">12 Per Page</div>
						</li>
					</ul>
				</div>
		  	</div>
		</div>

		<div class="pagination">
			<ul class="justify-end">
				<li>
					<div class="prev">
						<%- include ("../svg/outline/outline-chavron-left-double.svg") %>
					</div>
				</li>
				<li>
					<div class="prev-all mr-2">
						<%- include ("../svg/outline/outline-chavron-left.svg") %>
					</div>
				</li>
				<li>
					<div class="page active">1</a>
				</li>
				<li>
					<div class="page">2</a>
				</li>
				<li>
					<div class="page">3</a>
				</li>
				<li>
					<div class="page">4</a>
				</li>
				<li>
					<div class="page">5</a>
				</li>
				<li>
					<div class="page">...</a>
				</li>
				<li>
					<div class="page">16</a>
				</li>
				<li>
					<div class="next ml-2">
						<%- include ("../svg/outline/outline-chevron-right.svg") %>
					</div>
				</li>
				<li>
					<div class="next-all">
						<%- include ("../svg/outline/outline-chavron-right-double.svg") %>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>