<div class="sidebar-pages sidebar-main scrolls">
	<ul>
		<div class="customer-title">
			Customers
		</div>
		<li>
			<a href="/pages/customers/customers-list.html" class="items active">
				<div class="title">
					<%- include ("../../svg/states-first-name-default.svg") %>
					<span>Total Customers</span>
				</div>
				<span class="count">1 485</span>
			</a>
		</li>
		<li>
			<a href="/pages/customers/customers-list.html" class="items svg-service svg-noeffect">
				<div class="title">
					<%- include ("../../svg/states-servicetemplate.svg") %>
					<span>With Service</span>
				</div>
				<span class="count">832</span>
			</a>
		</li>
		<li>
			<a href="/pages/customers/customers-list.html" class="items">
				<div class="title">
					<%- include ("../../svg/states-except.svg") %>
					<span>Without Service</span>
				</div>
				<span class="count">86</span>
			</a>
		</li>
		<li class="line"></li>
		<li>
			<a href="/pages/customers/customers-list.html" class="items items-lead">
				<div class="title">
					<%- include ("../../svg/outline-star.svg") %>
					<span>Total Leads</span>
				</div>
				<span class="count">86</span>
			</a>
		</li>
		<li class="line"></li>
		<li>
			<a href="/pages/customers/customers-list.html" class="items items-red">
				<div class="title">
					<%- include ("../../svg/states-email-to.svg") %>
					<span>Bounced Email</span>
				</div>
				<span class="count">86</span>
			</a>
		</li>
		<li class="line"></li>
		<li>
			<a href="/pages/customers/customers-list.html" class="items items-red svg-schedule">
				<div class="title">
					<%- include ("../../svg/states-eye-2.svg") %>
					<span>Expired Credit Cad</span>
				</div>
				<span class="count">12</span>
			</a>
		</li>
		<li>
			<a href="/pages/customers/customers-list.html" class="items svg-schedule">
				<div class="title">
					<%- include ("../../svg/states-eye-2.svg") %>
					<span>Expiring < 60 Days</span>
				</div>
				<span class="count">12</span>
			</a>
		</li>
	</ul>
</div>